[submodule "my-portfolio"]
	path = my-portfolio
	url = https://github.com/Vin0210/my-portfolio.git
[submodule "src/assets/images"]
	path = src/assets/images
	url = https://github.com/Vin0210/my-portfolio.git
